<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>CardinalStone RestServer</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #1A2155;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 80px;
                font-weight: 400;
                margin-bottom: 0;
            }
            
            h1 a, h1 a:hover{
                text-decoration: none;
                color:  #1A2155;
            }
            
        </style>
    </head>
    <body>
        <h1><a href="https://www.cardinalstone.com/">CardinalStone</a></h1>
        <div>RESTful API</div>

        <?php if (isset($name)) : ?>
            <h2>Hello <a href="https://www.cardinalstone.com/"> <?= htmlspecialchars($name); ?>!</a></h2>
        <?php else: ?>
            <p>Click <a href="https://www.cardinalstone.com/">here</a> if you got to this page by error 
        <?php endif; ?>
    </body>
</html>
